<svg id="bodyMuscleSvg" class="member-body-svg" viewBox="0 0 200 400" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path class="body-shell" d="M100 12
        C82 12 72 24 72 40 C72 50 76 56 82 60 L82 66
        C58 70 44 88 40 112 L36 185 C34 202 42 216 52 224
        L48 295 C46 318 52 340 62 358 L72 372 L78 358 L82 295 L86 235
        L90 218 L100 212 L110 218 L114 235 L118 295 L122 358 L128 372
        L138 358 C148 340 154 318 152 295 L148 224
        C158 216 166 202 164 185 L160 112 C156 88 142 70 118 66 L118 60
        C124 56 128 50 128 40 C128 24 118 12 100 12 Z"/>

    <g class="body-muscles">
        <g class="muscle-group" data-muscle="shoulders">
            <ellipse class="muscle-shape" cx="56" cy="88" rx="18" ry="13"/>
            <ellipse class="muscle-shape" cx="144" cy="88" rx="18" ry="13"/>
        </g>
        <g class="muscle-group" data-muscle="chest">
            <path class="muscle-shape" d="M80 80 Q100 74 120 80 Q126 96 120 110 Q100 116 80 110 Q74 96 80 80 Z"/>
        </g>
        <g class="muscle-group" data-muscle="back">
            <path class="muscle-shape" d="M60 98 Q52 128 56 162 L68 152 Q64 122 66 100 Z"/>
            <path class="muscle-shape" d="M140 98 Q148 128 144 162 L132 152 Q136 122 134 100 Z"/>
        </g>
        <g class="muscle-group" data-muscle="abs">
            <rect class="muscle-shape" x="88" y="114" width="24" height="18" rx="4"/>
            <rect class="muscle-shape" x="89" y="136" width="22" height="18" rx="4"/>
            <rect class="muscle-shape" x="90" y="158" width="20" height="18" rx="4"/>
        </g>
        <g class="muscle-group" data-muscle="arms">
            <ellipse class="muscle-shape" cx="42" cy="138" rx="10" ry="30"/>
            <ellipse class="muscle-shape" cx="158" cy="138" rx="10" ry="30"/>
            <ellipse class="muscle-shape" cx="40" cy="192" rx="8" ry="24"/>
            <ellipse class="muscle-shape" cx="160" cy="192" rx="8" ry="24"/>
        </g>
        <g class="muscle-group" data-muscle="glutes">
            <path class="muscle-shape" d="M84 184 Q100 180 116 184 Q120 198 116 210 Q100 216 84 210 Q80 198 84 184 Z"/>
        </g>
        <g class="muscle-group" data-muscle="quads">
            <ellipse class="muscle-shape" cx="86" cy="248" rx="15" ry="42"/>
            <ellipse class="muscle-shape" cx="114" cy="248" rx="15" ry="42"/>
        </g>
        <g class="muscle-group" data-muscle="hamstrings">
            <ellipse class="muscle-shape" cx="94" cy="262" rx="9" ry="26"/>
            <ellipse class="muscle-shape" cx="106" cy="262" rx="9" ry="26"/>
        </g>
        <g class="muscle-group" data-muscle="calves">
            <ellipse class="muscle-shape" cx="84" cy="322" rx="11" ry="26"/>
            <ellipse class="muscle-shape" cx="116" cy="322" rx="11" ry="26"/>
        </g>
    </g>
</svg>
